<script src="https://accounts.google.com/gsi/client?hl=fr" async></script>
<div class="container_1">
  <div class="container">
    <div class="left">
      <div class="company-name">NOME DA EMPRESA</div>
      <h1>Que bom ver você de volta<br>BEM-VINDO</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
    </div>
    <div class="right">
      <h2>Acessar Conta</h2>
      <form>
        <div class="input-group">
          <input type="email" placeholder="E-mail" required>
        </div>
        <div class="input-group">
          <input type="password" placeholder="Senha" required>
        </div>
        <div class="options">
          <label><input type="checkbox"> Manter-me conectado</label>
          <a href="#">Recuperar senha</a>
        </div>
        <button type="submit" class="btn">ENTRAR</button>

      </form>
        <div class="" id="google-button"></div>
    </div>
  </div>
</div>