.list_item_row{
    display: flex;
    align-items: center;
    
}
.list_dias{
    display: flex;
}

.list_dias_semana{
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    height: 30px;
}

.item_nascimento{
    display: flex;
    justify-content: flex-start; 
    align-items: center;    
    height: 30px;
}

.list_principal_nome{
    font-size: 1.2rem;
    font-weight: bold;
    height: 30px;
}

.item_labels{
    padding: 7px;
    margin-left: 10px;
    flex-grow: 1;

}


.item_list_chip{
    height: 25px;
    color:rgb(51, 51, 51);
    margin: 3px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid rgba(87, 85, 85, 0.8); 
}

.label_item_list{
    font-size: 14px;
}

.list_sexo_m{
    background-color: #a2d9f059;
    font-size: 1.5rem;
    border: 1px solid #64afec; 
    color: #4ba2e9;
}

.list_sexo_f{
    background-color: #f0a2ec4d;
    color: #eb7fe5;
    font-size: 1.5rem;
    border-color: #eb7fe5;
    border: 1px solid
}

.list_header{
    display: flex;
    align-items: center;

}
.list_principle_header{
    display: flex;
    margin-bottom: 15px;
}

.list_header_title{
    flex-grow: 1;
}

.list_acoes{
    align-self:flex-start;
}



::ng-deep .menu_acoes .p-button {
    color: rgb(114, 113, 113);
    border-radius: 50%;
    width: 35px;
    height: 30px;
    border: 1px solid;
    background-color: #ffff;
}

::ng-deep .menu_acoes .p-button:hover {
    color: rgb(145, 145, 145);
    border: 1px solid;
    background-color: #d6d6d6;
}