

<h2>Alunos</h2>
<p-dataview [value]="listaAlunos" [rows]="5" [paginator]="true">
    <ng-template #header>
        <div class="list_header">
            <div class="list_filtros">
                <p-floatlabel variant="on">
                    <input pInputText id="on_label" [(ngModel)]="filtroNome" (input)="filtrarLista($event)" autocomplete="off" />
                    <label for="on_label">Pesquisar por nome</label>
                </p-floatlabel>
            </div>
            <div class="list_botoes">
                <p-button label="Novo Aluno" icon="pi pi-plus" iconPos="left" />
            </div>
        </div>

    </ng-template>
    <ng-template #list let-items>
        <div>
            <div class="col-span-12" *ngFor="let item of items; let first = first" class="col-span-12">
                <div class="list_item" >
                    <div class="list_item_row">
                        <div class="item_avatar">
                            <p-avatar [label]=item.iniciaisNome 
                            styleClass="mr-2" 
                            [ngClass]="{ 'list_sexo_m': item.sexo === 'M', 'list_sexo_f': item.sexo === 'F' }"
                            size="xlarge"
                            shape="circle" />
                        </div>
                        <div class="item_labels">
                            <span class="list_principal_nome">{{ item.nome }}</span>
                            
                            <div class="item_nascimento">
                                <i class="pi pi-gift" style="font-size: 1rem"> </i>
                                <span class="label_item_list" style="margin-left: 5px">  {{item.dataNascimento | date:'dd/MM/yyyy' }}</span>
                                <span class="label_item_list" style="margin-left: 5px">  ( {{ item.idade }} anos) </span>
                            </div>
                            <div class="item_nascimento">
                                <i class="pi pi-user" style="font-size: 1rem"> </i>
                                <span class="label_item_list" style="margin-left: 5px;"> Fulano da Silva Souza </span>
                            </div>
                            <div class="list_dias_semana">
                                <i class="pi pi-calendar" style="font-size: 1rem"> </i>
                                <div class="list_dias" >
                                    <p-chip class="item_list_chip" 
                                    *ngFor="let dia of item.dias" [label]="dia" />
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
                <div class="list_acoes">

                </div>
                <p-divider />
            </div>
        </div>
    </ng-template>
</p-dataview>
