.card *{

}

::ng-deep .menu_acoes .p-button {
    color: rgb(114, 113, 113);
    border-radius: 50%;
    width: 35px;
    height: 30px;
    border: 1px solid;
    background-color: #ffff;
}

::ng-deep .menu_acoes .p-button:hover {
    color: rgb(145, 145, 145);
    border: 1px solid;
    background-color: #d6d6d6;
}


::ng-deep .p-datatable .p-datatable-header{
    padding: 0px;
}

::ng-deep .p-datatable .p-datatable-header input{
    margin-bottom: 1rem;
    margin-top: 15px;
    width: 30%;
}

.list_principle_header{
    display: flex;
}
.list_header_title{
    flex-grow: 1;
}

::ng-deep .list_botoes .p-button{
    width: 100%;

}

.situacao-ativo {
    width: 100%;
    border-radius: 4px;
    padding: 3px;
    padding-right: 4px;
    padding-left: 4px;
    border: 1px solid;
    font-size: 14px;
    background-color: #B2DDB4;

  }
  
  .situacao-inativo {
    width: 100%;
    border-radius: 4px;
    padding: 3px;
    padding-right: 4px;
    padding-left: 4px;
    border: 1px solid;
    font-size: 14px;
    background-color: #F69EBC;

  }


  .item_list:hover{
    background-color: #ECFDF5;
  }
td{
    vertical-align: middle; /* Alinha o conteúdo verticalmente */

}
