.card *{
    font-size: 14px;
}

::ng-deep .p-button {
    color: rgb(114, 113, 113);
    border-radius: 50%;
    width: 35px;
    height: 30px;
    border: 1px solid;
    background-color: #ffff;
}


::ng-deep .p-datatable .p-datatable-header{
    padding: 0px;
}

::ng-deep .p-datatable .p-datatable-header input{
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 30%;
}

