<p-card header="Alterar dado do aluno">
    <ng-template #title>
        Detalhes do aluno
    </ng-template>
    <form #formAluno="ngForm">
        <div class="cadastro_input">
            <p-floatlabel variant="on">
                <input id="username" pInputText [(ngModel)]="aluno.nome" disabled required name="nome"  >
                <label for="username">Nome do aluno</label>
            </p-floatlabel>
            <div *ngIf="formAluno.controls['nome']?.invalid && formAluno.controls['nome']?.touched">
                <small>Este campo é obrigatório</small>
            </div>
        </div>

        <div class="cadastro_input">
            <p-floatlabel variant="on">
            <p-datepicker  id="dataNascimento" [(ngModel)]="aluno.dataNascimento "  disabled  required name="dataNascimento" dateFormat="dd/mm/yy"  [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" />
            <label class="calendar_label" for="dataNascimento">Data de nascimento</label>
        </p-floatlabel>
        <div *ngIf="formAluno.controls['dataNascimento']?.invalid && formAluno.controls['dataNascimento']?.touched">
            <small>Este campo é obrigatório</small>
        </div>
        </div>

        <div class="cadastro_input">
           <label class="label_radiogroup" for="sexoAluno">Sexo</label>
        <div id="sexoAluno" class="radio_button">
            <div class="flex items-center">
                <p-radiobutton name="masculino" value="M" disabled [(ngModel)]="aluno.sexo" inputId="sexo1" name="sexo" />
                <label for="sexo1" class="ml-2">Masculino</label>
            </div>
        
            <div class="radio_button">
                <p-radiobutton name="feminino" value="F" disabled [(ngModel)]="aluno.sexo" inputId="sexo2" name="sexo" />
                <label for="sexo2" class="ml-2">Feminino</label>
            </div>
        </div>
        </div>


        <div class="cadastro_botoes">
            <p-button label="Cancelar" routerLink="/alunos" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
        </div>
    </form>
    <ng-template #footer>

    </ng-template>
</p-card>
