<p-card header="Alterar dado do aluno">
    <ng-template #title>
        Detalhes do aluno
    </ng-template>
    <form #formAluno="ngForm">
        <div class="cadastro_input">
            <p-floatlabel variant="on">
                <input id="username" pInputText [(ngModel)]="aluno.nome" readonly required name="nome">
                <label for="username">Nome do aluno</label>
            </p-floatlabel>

        </div>

        <div class="cadastro_input">
            <p-floatlabel variant="on">
                <p-datepicker id="dataNascimento" [(ngModel)]="aluno.dataNascimento " disabled required
                    name="dataNascimento" dateFormat="dd/mm/yy" [iconDisplay]="'input'" [showIcon]="true"
                    inputId="icondisplay" />
                <label class="calendar_label" for="dataNascimento">Data de nascimento</label>
            </p-floatlabel>

        </div>

        <div class="cadastro_input">
            <label class="label_radiogroup" for="sexoAluno">Sexo</label>
            <div id="sexoAluno" class="radio_button">
                <div class="flex items-center">
                    <p-radiobutton name="masculino" readonly value="M"  [(ngModel)]="aluno.sexo" inputId="sexo1"
                        name="sexo" />
                    <label for="sexo1" class="ml-2">Masculino</label>
                </div>

                <div class="radio_button">
                    <p-radiobutton name="feminino" readonly value="F"  [(ngModel)]="aluno.sexo" inputId="sexo2"
                        name="sexo" />
                    <label for="sexo2" class="ml-2">Feminino</label>
                </div>
            </div>
        </div>

        <div class="cadastro_input" *ngIf="!aluno.isDiasAlternados">
            <label class="label_multiselect"  for="dias_aluno">Dias da semana:</label>
            <div class="cadastro_input_multiselecao">
                <div class="checkbox"  *ngFor="let dia of dias" name="dias_aluno">
                    <p-checkbox readonly [inputId]="dia"  name="dias_aluno" [value]="dia" [(ngModel)]="aluno.dias" />
                    <label class="label_checkbox" [for]="dia"> {{ dia }} </label>
                </div>
            </div>
        </div>
        <p-divider />

        <div class="cadastro_input" *ngIf="aluno.isDiasAlternados">
            <p-checkbox [(ngModel)]="aluno.isDiasAlternados" readonly [binary]="true" inputId="diasAlternados"
                name="diasAlternados" />
                <label for="diasAlternados" class="ml-2">As aulas serão realizadas em dias alternados</label>
            </div>
        
        <div class="cadastro_input">
            <p-checkbox [(ngModel)]="aluno.autorizacaoDeImagem" readonly [binary]="true" inputId="autorizaocaoImagem"
                name="usoImagem" />
            <label for="autorizaocaoImagem" class="ml-2">Autorizado o uso de imagem e video do aluno</label>
        </div>

        


        <div class="cadastro_botoes">
            <p-button label="Cancelar" routerLink="/alunos" severity="secondary" class="w-full" [outlined]="true"
                styleClass="w-full" />
        </div>
    </form>
    <ng-template #footer>

    </ng-template>
</p-card>