<div class="menu_lateral" >
    <p-menu [model]="menu" styleClass="w-full md:w-60">

        <ng-template #start>
            <div class="header_menu">
                <span class="inline-flex items-center gap-1 px-2 py-2">

                    <span class="text-xl">
                    <span class="text-primary">CAYLIN</span>
                    </span>
                </span>
            </div>
        </ng-template>


        <ng-template #submenuheader let-item>
            <span class="text-primary font-bold">{{ item.label }}</span>
        </ng-template>

        <ng-template #item let-item>
            
            <a class="item_menu" [routerLink]="item.route" pRipple class="flex items-center p-menu-item-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>        </a>
        </ng-template>
        <ng-template #end>
        </ng-template>
    </p-menu>
</div>
