.cadastro_input{
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}

input{
    width: 100%;
}


small{
    color: red;
    font-size: 12px;
}

.cadastro_botoes{
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;
}

.cadastro_botoes p-button{
 margin-left: 1rem;
 margin-right: 1rem;

}