
*{
    margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
	font-family: "Roboto", serif;
}

.tela_sistema{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
}

.container_conteudo{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    width: 100%;
    height: 100%;
}

.menu_bar{
    width: 100%;
    height: 6%;
    background-color: rgb(81, 81, 129);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-bottom: 3%;
}

nav{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    margin: 2px;
    color: aliceblue;
}

nav:hover{
    background-color: #8a97a5;
    transition: all 0.3s ease; /* A transição será suave em 0.3 segundos */
    transform: scale(1.1);
}


.container{
    width: 100%;
}
