<p-card header="Cadastrar Atividade">
  <ng-template #title>
    Cadastrar Atividade
  </ng-template>
  <form #formAtividade="ngForm" (ngSubmit)="onSubmit()">
    <div class="cadastro_input">
      <p-floatlabel variant="on">
        <input id="username" pInputText [(ngModel)]="codigo" required name="nome">
        <label for="username">Código da Atividade</label>
      </p-floatlabel>
      <div *ngIf="formAtividade.controls['nome']?.invalid && formAtividade.controls['nome']?.touched">
        <small>Este campo é obrigatório</small>
      </div>
    </div>


    <div class="cadastro_input">
      <p-floatlabel variant="on">
        <p-select inputId="materia_select" name="materia" required [options]="listaMaterias"
          [(ngModel)]="materiaSelecionada" optionLabel="nome" placeholder="Selecione" name="materia" />
        <label for="materia_select">Materia</label>
      </p-floatlabel>
      <div *ngIf="formAtividade.submitted && !materiaSelecionada.id">
        <small>Este campo é obrigatório</small>
      </div>
    </div>

    <div class="cadastro_input">
      <label>Arquivo da atividade</label>
      <p-fileupload #fileUpload type="file" class="p-fileupload p-component" [multiple]="false"
        required="false" id="arquivo_select" mode="basic" chooseLabel="Escolha" chooseIcon="pi pi-upload"
        (onSelect)="onFileSelect($event)" name="arquivo" accept="image/*, .pdf" maxFileSize="500000">

        <ng-template pTemplate="filelabel">
          {{ nomeArquivo || 'Nenhum arquivo selecionado' }}
          <p-button *ngIf="arquivoBlob" type="button" label="Limpar" (click)="limparArquivos()" class="w-full" [outlined]="true"/>
        </ng-template>
  
      </p-fileupload>

      

    </div>

    <div class="cadastro_input">
      <p-floatlabel variant="on">
        <input id="descricao" pInputText [(ngModel)]="descricao" required name="descricao">
        <label for="descricao">Descrição</label>
      </p-floatlabel>
      <div *ngIf="formAtividade.controls['descricao']?.invalid && formAtividade.controls['descricao']?.touched">
        <small>Este campo é obrigatório</small>
      </div>
    </div>

    <div class="cadastro_input">
      <p-floatlabel variant="on">
        <input id="url" pInputText [(ngModel)]="url" name="url">
        <label for="url">URL</label>
      </p-floatlabel>
    </div>

    <div class="cadastro_botoes">
      <p-button label="Cancelar" routerLink="/atividades" severity="secondary" class="w-full" [outlined]="true"
        styleClass="w-full" />
      <p-button label="Salvar" class="w-full" styleClass="w-full" type="submit" [disabled]="formAtividade.invalid" />
    </div>
  </form>
  <ng-template #footer>

  </ng-template>
</p-card>

<p-toast />
